/* Defining custom grid system */
* {
	box-sizing: border-box;
}

* {
	margin: 0;
	padding: 0;
	text-decoration: none;
}

/* Page styling starts here */
body {
	font-family: Montserrat;
	/* background: #e2e1e059; */
	background: #fefefe;
}

.color-primary-0 { color: #FF656D }	/* Main Primary color */
.color-primary-1 { color: #FFCFD1 }
.color-primary-2 { color: #FF9298 }
.color-primary-3 { color: #FF3A44 }
.color-primary-4 { color: #FF0A16 }

.left {
	width: 17%;
}

.right {
	width: 80%;
  margin: 0 1% 0 5%;
  position: relative;
}

.incr{
	position: fixed;
	bottom: 2%;
	right: 2%;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	background: #214b63;
	color: #fefefe;
	font-size: 25px;
	padding-top: 0.5em;
	z-index: 4;
	text-align: center;
}

.tabs {
	width: 80%;
  margin: 2% 1% 2% 5%; 
  border: 0.3px solid #214b63;
  position: relative;
}

.circle{
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #fff;
  border: 1px solid #214b63;
  position: absolute;
  cursor: pointer;
}

.circle:hover{
  background: #214b63;
  border: none;
  cursor: pointer;
}

.present{
   background: #214b63;
  border: none;
  cursor: pointer;
}

.circle1{
top: -10px;
  left: 10%;
  cursor: pointer;
}

.circle2{
top: -10px;
  right: 10%;
  cursor: pointer;
}

.admin-right{
	margin-right:5%;
}

.wrapper {
  display: flex;
  position: relative;
}

.upBlock{
  position: absolute;
  top: 20px;
  left: 0;
  right: 0;
}


.downBlock{
  position: absolute;
  top: 20px;
  left: 0;
  right: 0;
}

.login-form{
	margin-top: 20%;
	width: 310px;
}

#logo {
	padding: 1em 0em;
	text-align: center;
	text-transform: capitalize;
	color: #fefffe;
}

/*sidebar*/
#sidebar {
	position: fixed;
	width: 200px;
	height: 100%;
	background: #FF656D;
	left: -200px;
}

#sidebar.active {
	left: 0px;
}

#sidebar ul {
	margin-top: 10px;
}

#sidebar ul li {
	color: #fefffe;
	list-style-type: none;
	text-transform: capitalize;
	font-size: 18px;
	font-weight: 500;
	padding: 15px 10px;
	border-bottom: 1px solid #ffffff78;
}

#sidebar ul li:hover {
	background: #fefffe;
	color: #FF0A16;
}

#sidebar .toggle-btn {
	position: absolute;
	left: 210px;
	top: 0px;
}

#sidebar .toggle-btn span {
	display: none;
}
/*End of sidebar*/

/*Login page*/
.login-title{
	font-size: 38px;
	color: #ff656c;
	width: 500px;
	margin-left: -90px;
	margin-top: -2.5em;
	text-transform: capitalize;
}

.attendant-block {
	width: 320px;
	padding: 20px;
	border-radius: 5px;
	margin: 110px auto;
}

.fullname,
.username,
.password {
	width: 100%;
	height: 42px;
	border-radius: 5px;
	border: 1px solid #ccc;
	margin-bottom: 20px;
	font-size: 14px;
	font-family: Montserrat;
	padding: 0 40px 0 10px;
	outline: none;
}

.fullname {
	background: #fff url("/andela-developer-challenge/images/5.png") 20px top
		no-repeat;
	background-size: 16px 80px;
}

.fullname:focus {
	background: #fff url("/andela-developer-challenge/images/5.png") 20px bottom
		no-repeat;
	background-size: 16px 80px;
}

.username {
	background: #fff url("/andela-developer-challenge/images/4.png") 280px top
		no-repeat;
	background-size: 16px 80px;
}

.username:focus {
	background: #fff url("/andela-developer-challenge/images/4.png") 280px bottom
		no-repeat;
	background-size: 16px 80px;
}

.password {
	background: #fff url("/andela-developer-challenge/images/3.png") 280px top
		no-repeat;
	background-size: 16px 80px;
}

.password:focus {
	background: #fff url("/andela-developer-challenge/images/3.png") 280px bottom
		no-repeat;
	background-size: 16px 80px;
}

.attendant-block input:active,
.attendant-block input:focus {
	border: 1px solid #ff656c;
}

.login {
	width: 100%;
	height: 40px;
	background: #ff656c;
	border-radius: 5px;
	border: 1px solid #e15960;
	color: #fff;
	font-weight: bold;
	text-transform: capitalize;
	font-size: 14px;
	font-family: Montserrat;
	outline: none;
	cursor: pointer;
	text-align: center;
}

.login:hover {
	background: #ff7b81;
}

.logo {
	width: 120px;
	height: 120px;
	margin: auto;
	border: 5px solid #fff;
	border-radius: 50%;
	margin-top: 30%;
	margin-bottom: 20px;
}

.logo img {
	width: 100%;
	height: 100%;
	border-radius: 50%;
}

#hide {
	cursor: pointer;
	color: #ff656c;
}

#show {
	cursor: pointer;
	color: #ff656c;
}

.not-registered,
.have-account {
	text-align: center;
	font-size: 14px;
	color: #ff656c;
	margin-top: 2.5em;
}
/*End of Login page*/

/*dashboard info */

.up-info-container,
.down-info-container {
	margin-top: 0.5em;
	display: flex;
	padding-bottom: 2em;
	justify-content: space-between;
	position: relative;
}

.container-title {
	margin-bottom: 2em;
	color: #FF3A44;
	width: 30%;
	height: 50px;
	text-transform: uppercase;
	font-size: 20px;
	font-weight: 700;
	padding-top: 0.5em;
}

.attendant-container-title{
	color: #FF3A44;
	width: 50%;
	height: 50px;
	text-transform: uppercase;
	font-size: 25px;
	font-weight: 700;
	padding-top: 0.5em;
	padding-left: 2em;
}

.all-products-info{
	margin-bottom: 1.5em;
	width: 50%;
}

.view-all {
	position: absolute;
	right: 5%;
	top: -25%;
	width: 15%;
	height: 50px;
	text-align: center;
	background: #bcc9d0;
	color: #fefefe;
	text-transform: uppercase;
	font-size: 20px;
	font-weight: 500;
	margin-top: 2em;
	padding-top: 0.5em;
}


.add{
 background: #ff6663;
 margin-left: 3em;
 width: 20%;
 color: #fefefe;
 height: 40px;
 text-transform: capitalize;
 cursor: pointer;
 outline: none;
}

.view-all:hover {
	background: #214b63;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1), 0 1px 2px rgba(0, 0, 0, 0.2);
}

h2:nth-child(1) {
	margin-top: 0.5em;
}

.info-block {
	width: 33%;
	height: 250px;
	position: relative;
}

.info-block1 {
	height: 200px;
}


.attendant-info-container{
	width: 90%;
	padding-left: 3em;
	display: flex;
	flex-wrap: wrap;
	border-bottom: 1px solid #bcc9d0;
	margin-bottom: 3em;
}
.attendant-info-block {
	width: 33.33%;
	margin-bottom: 2em;	
	background: #fff;
	position: relative;
}

.attendant-info-block img:hover{
box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.attendant-product-block{
	display: flex;
	width: 33.333%;
	margin-bottom: 3em;
	font-size: 16px;
}

.attendant-product-block .pic-block{
	width: 85%;
}

.tell-a-friend{
	color: #FF3A44;
	font-size: 18px;
	padding-bottom:1em;
	padding-left: 2.6em;
	text-transform: capitalize;
}

.pic-block{
	width: 100%;
	position: relative;
}

.cart{
	position: absolute;
	width: 25px;
	height: 25px;
	border-radius: 50%;
	background: #214b63;
	right: 7%;
	top: -5%;
	cursor: pointer;
	text-align: center;
	padding: 0.2em;
	color: #e3f1d5;
}

.cart2{
	background: #e15960;
}

.show{
	position: absolute;
	width: 100px;
	background: #ddd;
	right: 7%;
	top: 20%;
}

/* Tooltip tutorial https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_tooltip */
.tooltiptext{
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
}
.tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
	 border-style: solid;
    border-color: #555 transparent transparent transparent;
}
.cart:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}



.pic-block img{
	width: 90%;
	height: 150px;
	border: 1px solid #bcc9d0;
}

.product-pic-block{
	height:200px;
	width: 80%;
	overflow: hidden;
	border: 1px solid #bcc9d0;
}

.product-pic-block img{
	width: 100%;
}


.info{
	position: relative;
  width: 100%;
  height: 900px;
  background-color: #fff;
  -webkit-transform: translateY(100%) translateY(-500px) translateZ(0);
          transform: translateY(100%) translateY(-895px) translateZ(0);
  transition: -webkit-transform 0.5s ease-out;
  transition: transform 0.5s ease-out;
  transition: transform 0.5s ease-out, -webkit-transform 0.5s ease-out;
}

.product-pic-block:hover .info,
.product-pic-block:hover .info:before {
  -webkit-transform: translateY(0) translateZ(0);
          transform: translateY(-150px) translateZ(0);
}

.att-info:hover .info,
.att-info:hover .info:before{
	-webkit-transform: translateY(0) translateZ(0);
          transform: translateY(-190px) translateZ(0);
}

.title {
  margin-top:-10px;
  padding: 0.5em;
  padding-top: 1em;
  font-size: 20px;
  line-height: 1;
  color: rgba(0, 0, 0, 0.87);
}

.description {
  margin-top: -5px;
  padding: 0 24px 0 24px;
  font-size: 15px;
  line-height: 1.5;
}

.pic-description{
	display: flex;
}

.description-list{
	list-style: none;
	font-size: 18px;
	color: darkslategrey;
}

.description-list span{
	font-size: 18px;
	color: rgb(105, 126, 126);
}

.one{
padding-left: 1em;
}

.two{
padding-left: 2.1em;
}

.three{
padding-left: 1.6em;
}

.span-one{
	padding-left: 2em;
}

.span-two{
	padding-left: 2.3em;
}

.span-three{
	padding-left: 4.7em;
}

.span-four{
	padding-left: 4.1em;
}

.button-container{
	width: 90%;
	display: flex;
	justify-content: space-between;
}

.navigate{
	cursor: pointer;
	border-radius: 1px;
	width: 100px;
	font-size: 16px;
	background: #214b63;
	text-transform: capitalize;
	color:#fefefe;
	outline: none;
}


.info-block-header h2 {
	text-align: center;
	font-size: 17px;
	font-weight: 500;
	color: #fefffe;
	text-transform: capitalize;
	padding-top: 0.5em;
}

.info-block-header {
	position: absolute;
	width: 60%;
	font-size: 15px;
	text-transform: capitalize;
	padding: 0 0.5em;
	transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
	color: darkslategrey;
}



.info-block-header img{
	width: 100%;
	height: 150px;
}

.info-block-header img:hover {
	box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}


.info-block-header5 {
	padding: 0 0.5em;
}

.info-block-content {
	position: absolute;
	right: 5px;
	text-transform: capitalize;
	font-size: 18px;
	text-align: center;
	color: #bcc9d0;
}

.info-block-content h3{
	color: #214b63;
	font-size: 15px;
}

.info-block-content p {
	font-weight: 700;
	font-size: 30px;
	line-height: 2em;
}

#number-of-customers {
	position: absolute;
	right: 50px;
}

.info-block-footer {
	width: 90%;
	height: 20px;
	position: absolute;
	bottom: 70px;
	left: 5%;
	border-top: 1px solid #bcc9d0;
}

.info-block-footer p {
	color: #bcc9d0;
	font-size: 12px;
	padding-top: 0.5em;
}

.info-block-footer .date {
	float: right;
}

/* Responsive table styles */
table {
	border-spacing: 1;
	border-collapse: collapse;
	background: white;
	border-radius: 6px;
	overflow: hidden;
	width: 90%;
	position: relative;
}

.product-name{
	width: 100px;
	height: 100px;
	border-radius: 50%;
}

table * {
	position: relative;
}
table td,
table th {
	padding-left: 8px;
}
table thead tr {
	height: 60px;
	background: #214b63;
	color: #fefefe;
	font-size: 16px;
}
table tbody tr {
	height: 48px;
	border-bottom: 1px solid #e3f1d5;
}
table tbody tr:last-child {
	border: 0;
}
table td,
table th {
	text-align: left;
}
table td.l,
table th.l {
	text-align: right;
}
table td.c,
table th.c {
	text-align: center;
}
table td.r,
table th.r {
	text-align: center;
}

@media screen and (max-width: 35.5em) {
	table {
		display: block;
	}
	table > *,
	table tr,
	table td,
	table th {
		display: block;
	}
	table thead {
		display: none;
	}
	table tbody tr {
		height: auto;
		padding: 8px 0;
	}
	table tbody tr td {
		padding-left: 45%;
		margin-bottom: 12px;
	}
	table tbody tr td:last-child {
		margin-bottom: 0;
	}
	table tbody tr td:before {
		position: absolute;
		font-weight: 700;
		width: 40%;
		left: 10px;
		top: 0;
	}
	.table1 tbody tr td:nth-child(1):before {
		content: "PRODUCT NAME";
	}
	.table1 tbody tr td:nth-child(2):before {
		content: "PRODUCT TYPE";
	}
	.table1 tbody tr td:nth-child(3):before {
		content: "QUANTITY";
	}
	.table1 tbody tr td:nth-child(4):before {
		content: "PRICE";
	}
	.table1 tbody tr td:nth-child(5):before {
		content: "ATTENDANT NAME";
	}

	.table2 tbody tr td:nth-child(1):before {
		content: "PRODUCT NAME";
	}
	.table2 tbody tr td:nth-child(2):before {
		content: "PRODUCT TYPE";
	}
	.table2 tbody tr td:nth-child(3):before {
		content: "QUANTITY";
	}
	.table2 tbody tr td:nth-child(4):before {
		content: "PRICE";
	}
	.table2 tbody tr td:nth-child(5):before {
		content: "LAST PURCHASE DATE";
	}
}

#myInput {
	background-image: url("/andela-developer-challenge/images/searchicon.png"); /* Add a search icon to input */
	background-position: 98%; /* Position the search icon */
	background-repeat: no-repeat; /* Do not repeat the icon image */
	width: 90%; /* Full-width */
	font-size: 16px; /* Increase font-size */
	padding: 12px 40px 12px 20px; /* Add some padding */
	border: 1px solid #ddd; /* Add a grey border */
	margin: 0 auto; /* Add some space below the input */
}

#myInput:focus{
	outline: none;
	border:1px solid #FF3A44;
}

button {
	width: 70px;
	height: 35px;
	margin: 0.5em;
	border-radius: 8px;
	border: none;
	font-size: 15px;
	font-weight: 400;
}

.delete {
	background: #FF0A16;
	color: #fefefe;
	cursor: pointer;
}

.delete:hover {
	color: #ff6663;
	background: #fefefe;
	border: 1px solid #ff6663;
}

.edit {
	background: #b8d141;
	color: #fefefe;
	cursor: pointer;
}

.edit:hover {
	color: #b8d141;
	background: #fefefe;
	border: 1px solid #b8d141;
}

.arrow-container {
	position: relative;
}

.arrow-left {
	position: absolute;
	left: 190px;
	top: 20px;
	width: 0;
	height: 0;
	border-top: 10px solid transparent;
	border-bottom: 10px solid transparent;

	border-right: 10px solid white;
}

/* End of responsive table style */
/* End of dashboard style */
@media screen and (max-width: 768px) {
	.attendant-block {
		width: 70%;
	}
	#sidebar.active {
		left: -200px;
	}
	#sidebar.show {
		left: 0px;
	}

	#sidebar .toggle-btn span {
		display: block;
		width: 30px;
		height: 5px;
		background: #e15960;
		margin: 5px 0px;
	}
}
/* Modal styling from https://www.w3schools.com/howto/howto_css_modals.asp*/
/* The Modal (background) */
.modal{
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 200px;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
	 background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}
         
@keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}


/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 1% 15% 0 15%;
    padding: 20px;
	 border: 1px solid #888;
    width: 50%; /* Could be more or less, depending on screen size */
}

.product-modal-content{
  margin-top: 1%;
  height: 85%;
}

.attendant-modal-content{
	height: 90%;
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.category-form{
	width: 500px;
	margin: 10% 10% 30%;
}

.category-name{
	background: none;
}

.category-desc{
	width: 100%;	
	border-radius: 5px;
	border: 1px solid #ccc;
	margin-bottom: 20px;
	font-size: 14px;
	font-family: Montserrat;
	padding: 13px 40px 0 10px;
	outline: none;
}
.category-name:focus,.category-desc:focus{
	background: none;
	border: 1px solid #ff656c;
}

.category-title{
color: #214b63;
margin: 5% auto;
width: 50%;
font-size: 30px;
}

.login {
	width: 100%;
	height: 40px;
	background: #ff656c;
	border-radius: 5px;
	border: 1px solid #e15960;
	color: #fff;
	font-weight: bold;
	text-transform: capitalize;
	font-size: 14px;
	font-family: Montserrat;
	outline: none;
	cursor: pointer;
	text-align: center;
}

.login:hover {
	background: #ffffff;
	color: #ff656c;
	border:1px solid #ff656c;
}

.price-container{
display: flex;
margin: 1em 0 0 3em;
width: 50%;
justify-content: space-between;
padding: 1em;
background: #fefefe;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1), 0 1px 2px rgba(0, 0, 0, 0.2);
}

.price-container ul{
	list-style-type: none;
	width: 50%;
	margin: 1em;
}

.titles,.values{
	font-size: 17px;
	color: #555 ;
}

.titles li,.values li{
	margin: 0.7em;
	border-bottom: 1px solid #aaa;
}

.values{
	text-align: start;
}

.items-title{
	display: flex;
	width: 80%;
	background: #ddd;
	margin: 2em 0 0 3em;
	padding: 0.5em;
	list-style-type: none;
	text-transform: capitalize;
	justify-content: space-around;
	font-weight: bold;
}

.items-details{
	display: flex;
	border-bottom: 1px solid #e3f1d5;
	width: 80%;
	margin: 2em 0 0 3em;
	padding: 0.5em;
	list-style-type: none;
	text-transform: capitalize;
	justify-content: space-around;
}

.items-details img{
width: 100px;
height: 100px;
}